:root {
  --main-background: #4b2d91;
  --light-color: #7749e6;
  --dark-text-color: #1f133c;
  --dark-background: #352166;
  --linen: #F7ECE1;
  --french-grey: #A59BAB;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--main-background);
  color: var(--linen);
}

.container {
  text-align: center;
  padding: 20px;
}

.login_button{
  font-weight: bold;
}

.text_input {
  width: 100%;
  padding: 10px;
  background: var(--dark-background);
  color: var(--linen);
  border: none;
  border-radius: 5px;

}

form {
  margin: 20px auto;
  max-width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: var(--dark-text-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: var(--dark-text-color);
}

a {
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  text-align: center;
}

a:hover {
  background: var(--dark-text-color);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--dark-text-color);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.game-type-icon {
  width: 15%;
}

.submit_button:disabled {
  color: #666666;
  cursor: not-allowed;
}

.swal2-popup {
    background-color: var(--dark-background)!important;
}

.swal2-confirm{
    background-color: var(--light-color)!important;
}

.winner_button {
    display: inline-block;
    color: var(--linen);
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%; /* Adjusted width to fit two buttons side by side */
    margin: 5px;
}

.winner_button_clicked {
    background-color: var(--light-color);
}

.winner_button_not_clicked {
    background-color: var(--dark-text-color);
}

.winner_picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game_type_button {
    display: inline-block;
    color: var(--linen);
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%; /* Adjusted width to fit two buttons side by side */
    margin: 5px;
}

.game-type-button-clicked {
    background-color: var(--light-color);
}

.game-type-button-not-clicked {
    background-color: var(--dark-text-color);
}

.game_type_picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opponent_dropbox {
    background: var(--dark-text-color);
    color: var(--linen);
}

.error {
  color: var(--linen);
  background: var(--light-color);
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.error:hover {
  background: var(--dark-text-color);
}

.line {
  background: var(--dark-text-color);
  height: 2px;
  width: 100%;
  margin: 10px 0;
}

h1 {
  text-align: center;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--light-color);
  color: var(--linen);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.side-menu .menu-items {
  flex-grow: 1;
}

.side-menu a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
  border-radius: 0%;
  margin: 0%;
}

.side-menu a:hover {
  color: #f1f1f1;
}

.side-menu .close-btn {
  position: absolute;
  top: 0px;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: right;
  padding-right: 8%;
  padding-top: 0%;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 5%;
}

.sign-out {
  padding-bottom: 10%;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sign-out:hover {
  color: #f1f1f1;
}

.go_back_btn{
  font-size: 100%;
}

.main_submit_btn{
  font-size: 110%;
}

.stats-table {
  background-color: #352166;
}