:root {
    --primary-color: #2C5F2D; /* Butelkowa zieleń */
    --secondary-color: #F5F5DC; /* Kremowy biały */
    --accent-color: #D4AF37; /* Złoty żółty */
    --background: #202526;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to bottom, #1e1e1e, #0b6623);
    overflow-x: hidden;
    overflow-y: hidden;
}

.background_pool {
    position: relative; 
    width: 100%;
    top: 4em;
    
}

.background_pool_wrapper {
    position: relative;
    width: 100%;
    height: auto; /* Dopasowanie do proporcji obrazu */
}


.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* padding: 20px; */
    box-sizing: border-box;
}

/* Ukrywanie widoków */
.hidden {
    display: none;
}

/* TOP BAR */
.top-bar {
    position: fixed; /* Pasek przyklejony na górze ekranu */
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* background-color: var(--secondary-color); */
    /* color: #fff; */
    display: flex;
    justify-content: space-between; /* Ikony po lewej i prawej stronie */
    align-items: center;
    padding: 0 15px; /* Odstępy po bokach */
    z-index: 1000;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    box-sizing: border-box;
}

.top-bar .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 10px;
    background-size: cover;
    background-position: center;
    background-color: var(--secondary-color); /* Kolor tła w przypadku braku avatara */
}
.skip-avatar-btn {
    background-color: #f44336;  /* Czerwony kolor tła */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.skip-avatar-btn:hover {
    background-color: #e53935;  /* Jaśniejszy czerwony po najechaniu */
}


.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Wysokość całego widoku */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 20px;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--background)); */

}

.nickname {
    position: absolute;
    /* bottom: 0; */
    width: 100%; /* Pełna szerokość */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--secondary-color, #fff);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--background));
    /* background-color: var(--background); */
    /* padding: 10px 0; */
    padding-top: 3%;
}

.progress_container {
    position: absolute;
    width: 100%; /* Szerokość kontenera */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    top: 40%; /*** Ustawienie środka w pionie ***/
    left: 50%; /*** Ustawienie środka w poziomie ***/
    transform: translate(-50%, -50%); /*** Przesunięcie środka w obie osie ***/
    background-color: var(--background);
    padding-top: 8%;
    padding-bottom: 8%;
}

.progress {
    --progress: 0%; /* Przykładowa wartość postępu */
    width: 80%; /* Szerokość paska postępu */
    height: 15px; /* Wysokość paska */
    margin: auto; /* Wyśrodkowanie */
    border: 1px solid #fff; /* Obramowanie */
    box-shadow: 0 0 10px #aaa; /* Efekt światła */
}

.progress .bar {
  width: var(--progress);
  height: 100%;
  background: linear-gradient(gold, #c85, gold);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
  animation: 
    shine 4s ease-in infinite,
    end 1s ease-out 1;
  transition: width 3s ease;
}

.progress-8ball {
    --progress: 70%; /* Wartość postępu dla 8-ball */
}

.progress-8ball .bar {
    width: var(--progress);
}

/* Pasek dla 9-ball */
.progress-9ball {
    --progress: 40%; /* Wartość postępu dla 9-ball */
}

.progress-9ball .bar {
    width: var(--progress);
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% { background-position: 0 0; }
  100% { background-position: 0 50px; }
}

@keyframes end {
  0%, 100% { box-shadow: 0 0 10px 0px orange; }
  50% { box-shadow: 0 0 15px 5px orange; }
}

.player-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary-color, #fff); /* Kolor nazwy */
    text-align: center; /* Wyśrodkowanie tekstu */
}

.players {
    position: fixed;
    bottom: 0; /* Przyklejenie do dołu */
    width: 100%; /* Pełna szerokość */
    display: flex;
    justify-content: center;
    gap: 5px; /* Odstępy między elementami */
    padding: 10px 0;
    align-items: center;
    background-color: var(--background);
}

.player img {
    width: 50px; /* Szerokość awatara */
    height: 50px; /* Wysokość awatara */
    border-radius: 50%; /* Okrągły avatar */
    border: 2px solid var(--primary-color, #fff); /* Obramowanie */
}

.player {
    width: 15%;
    /* background-color: #000; */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--primary-color));
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5%;
    display: flex;
    flex-direction: column; /* Ustawienie w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
    /* box-shadow: 0 0 10px var(--primary-color); */
}

.icon-container {
    position: relative; /* Aby liczba mogła być umieszczona względem kontenera */
    display: inline-block; /* Ustawienie w linii z innymi elementami */
    width: 50px; /* Szerokość ikony */
    height: 50px; /* Wysokość ikony */
}


.stat {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.stat-icon {
    width: 80px;  /* Możesz zmienić rozmiar ikony */
    height: 80px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon {
    width: 24px;  /* Możesz zmienić rozmiar ikony */
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}


.stat .icon {
    font-size: 32px;
}

.stat-value {
    position: absolute; /* Pozycjonowanie liczby względem kontenera */
    top: 50%; /* Wyśrodkowanie w pionie */
    left: 50%; /* Wyśrodkowanie w poziomie */
    transform: translate(-50%, -50%); /* Dokładne wyśrodkowanie */
    color: #fff; /* Kolor tekstu */
    font-size: 14px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubienie */
    text-align: center; /* Wyśrodkowanie tekstu */
    pointer-events: none; /* Wyłączenie interakcji z liczbą */
}

.add-game-btn {
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-game-btn:hover {
    background-color: #e06666;
}

/* Widok Dodawania Gry */
#add-game-view {
    text-align: center;
}

#add-game-view h2 {
    margin: 20px 0;
    font-size: 24px;
    color: var(--secondary-color);
}

.game-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.game-form label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.game-form input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.winner-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.winner-selection label {
    font-size: 14px;
    color: #333;
}

.winner-selection input[type="radio"] {
    margin-right: 5px;
}

.save-game-btn {
    background-color: #ff7f7f;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-game-btn:hover {
    background-color: #e06666;
}

.back-icon {
    background-color: #fad7d7;
    color: black;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-icon:hover {
    background-color: #e06666;
}

.beer-btn {
    background-color: #ff7f7f;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.beer-btn:hover {
    background-color: #e06666;
}

.crown {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: gold;
}

.crown:hover {
    color: darkgoldenrod;
}

.player-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player-container label {
    margin-right: 10px;
}

.crown {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

/* CSS */
.button-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie kontenera */
    gap: 20px; /* Odstęp między przyciskami */
    margin-top: 20px; /* Odstęp od górnej sekcji */
}

.glow-on-hover {
    width: 120px; /* Stała szerokość przycisku */
    height: 40px; /* Stała wysokość przycisku */
    border: none;
    outline: none;
    color: var(--primary-color);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* Checkbox winner */

  .checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #0f5229;
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #b7e6c9;
    border-color: #2cbc63;
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }

/* Menu boczne */

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: var(--secondary-color);;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.menu ul li:hover {
    background: #f5f5f5;
}

/* Table wynikow Twoje gry */
.app-container h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.app-container ul {
    list-style: none;
    padding: 0;
}

.app-container li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}













:root {
  --light-blue: rgb(32, 18, 95);
  --dark-blue: rgb(204, 100, 223);
  --violet: rgb(119, 188, 236);
  
  --background-left: rgb(29, 33, 68);
  --background-right: rgb(30, 25, 47);
  
  --conic-gradient: conic-gradient(
    var(--dark-blue), 
    var(--violet), 
    var(--light-blue),
    var(--dark-blue)
  );
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from, 20%, 40%, 80%, to {
    transform: scale(1);
  }
  
  10%, 60% {
    transform: scale(1.1);
  }
}

/* body {
  background: linear-gradient(
    to right, 
    var(--background-left), 
    var(--background-right)
  );
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
} */

/* #background {
  display: grid;
  inset: 0px;  
  place-items: center;
  position: fixed;
  z-index: 1;
} */

#circle {
  animation: rotate 10s linear infinite;
  background: var(--conic-gradient);
  border-radius: 70vh;
  display: grid;
  filter: blur(1.5vh);
  height: 70vh;
  place-items: center;
  position: relative;
  width: 70vh;
}

#circle-inner {
  border-radius: inherit;
  inset: 5%;
  position: absolute;
}

#circle-glow {
  animation: pulse 10s ease-in-out infinite;
  background: var(--conic-gradient);
  border-radius: 100vh;
  filter: blur(3vh);
  height: 120%;
  opacity: 0.25;
  width: 120%;
  z-index: 2;
}

#circle-inner {
  background: linear-gradient(
    to right, 
    var(--background-left), 
    var(--background-right)
  );
  z-index: 3;
}

#app {
  display: grid;
  height: 100vh;
  place-items: center;
  position: relative;
  width: 100vw;
  z-index: 2;
}

#nav {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 120px;
}

#nav-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 120px;
}

#nav-items > .nav-item {
  border-radius: 6px;
  cursor: pointer;
  display: grid;
  height: 100px;
  place-items: center;
  transition: background-color 250ms;
  width: 100px;
}

#nav-items > .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

#nav-items > .nav-item:hover > i {
  color: rgba(255, 255, 255, 0.9); 
}

#nav-items > .nav-item > i {
  color: rgba(255, 255, 255, 0.4); 
  font-size: 2.5em;
  transition: color 250ms;
}

#profiles {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 0.8vw, 20px);
  justify-content: center;
  background-color: var(--background);
  /* margin-left: 80px; */
  /* width: clamp(600px, 80vw, 1400px); */
}

#profiles > .profile {
  aspect-ratio: 7 / 8;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 250ms;
  width: calc(25% - clamp(10px, 0.8vw, 20px));
}

#profiles > .profile:hover {
  backdrop-filter: blur(1vw);
  background-color: rgba(255, 255, 255, 0.1);
}

.profile > .profile-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - clamp(8px, 1vw, 12px));
  justify-content: center;
  padding: clamp(8px, 1vw, 12px);
}

.profile > .profile-content > .profile-pic {
  aspect-ratio: 1;
  border: clamp(3px, 0.4vw, 5px) solid white;
  border-radius: 100%;
  flex-shrink: 0;
  height: 70%;
  position: relative;
}

.profile > .profile-content > .profile-pic > .profile-pic-image {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100%;
  height: calc(100% - clamp(10px, 1.5vw, 20px));
  margin: clamp(5px, 0.75vw, 10px);
  object-fit: cover;
  width: calc(100% - clamp(10px, 1.5vw, 20px));
}

.profile > .profile-content > .profile-name {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  margin: 0px;
  text-align: center;
}

@media(max-width: 1200px), (max-height: 900px) { 
  #nav {
    width: 80px;
  }

  #nav-items {
    gap: 5px;
    width: 80px;
  }

  #nav-items > .nav-item {
    border-radius: 6px;
    height: 60px;
    width: 60px;
  }

  #nav-items > .nav-item > i {
    font-size: 1.5em;
  }
}