<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ustawienia konta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-white font-sans h-screen w-screen">
    <div id="app" class="h-full flex flex-col items-center justify-center overflow-hidden">
        <h1 class="text-3xl font-bold mb-6">Ustawienia konta</h1>
        <form method="POST" action="/change-username" class="w-4/5 max-w-md">
            <div class="mb-4">
                <label for="new-username" class="block text-lg font-semibold mb-2">Nowa nazwa użytkownika</label>
                <input id="new-username" name="new-username" type="text"
                    class="w-full p-2 bg-gray-800 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
                    required>
            </div>
            <button type="submit" class="btn w-full mt-4 py-2 main_submit_btn">Zmień nazwę użytkownika</button>
        </form>
        <form method="POST" action="/change-password" class="w-4/5 max-w-md mt-6">
            <div class="mb-4">
                <label for="new-password" class="block text-lg font-semibold mb-2">Nowe hasło</label>
                <input id="new-password" name="new-password" type="password"
                    class="w-full p-2 bg-gray-800 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
                    required>
            </div>
            <button type="submit" class="btn w-full mt-4 py-2 main_submit_btn">Zmień hasło</button>
        </form>
        <a href="/home" class="btn w-4/5 max-w-md mt-6 go_back_btn">Powrót</a>
    </div>
</body>

</html>