<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj piwo</title>
    <link rel="stylesheet" href="static/styles.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .btn {
                @apply px-4 py-2 bg-green-500 rounded-md text-white font-bold hover:bg-green-400;
            }
        </style>
</head>

<body class="text-white font-sans h-screen w-screen">

    <div id="view-add-beer" class="h-full flex flex-col items-center justify-center overflow-hidden">
        <h1>Dodaj piwo</h1>
        <form>
            <label for="beer-count">Ilość piw:</label>
            <input type="number" id="beer-count" name="beer-count" min="1" required>
            <button type="submit">Zapisz</button>
        </form>
        <a href="/home">Powrót</a>
    </div>
</body>

</html>