<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wielka Ursynowska Bilariada</title>
  <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <style>
        .btn {
            @apply px-4 py-2 bg-green-500 rounded-md text-white font-bold hover:bg-green-400;
        }
    </style>
</head>
<body class="text-white font-sans h-screen w-screen">

    <div id="view-add-game" class="h-full flex flex-col items-center justify-center overflow-hidden">
        <h1 class="text-2xl font-bold mb-4">Dodaj rozgrywkę</h1>
         <form method="POST" onsubmit="return submitForm(this);">
            <div class="mb-4">
                <label for="opponent" class="block text-lg font-semibold mb-2">Przeciwnik</label>
                <select id="opponent" name="opponent" class="w-full p-2 opponent_dropbox text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white" required>
                    <option value="" disabled selected>Wybierz przeciwnika</option>
                    {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-lg font-semibold mb-2">Wybierz zwycięzcę</label>
                <div class="winner_picker">
                    <input type="button" id="player1" value="Ty" class="winner_button game-type-button-not-clicked" 
                        onclick="selectWinner('player1')">
                    <input type="button" id="player2" value="Przeciwnik" class="winner_button game-type-button-not-clicked" 
                        onclick="selectWinner('player2')">
                </div>
                <input type="hidden" id="winner" name="winner" required>
            </div>
            <div class="mb-4">
                <label class="block text-lg font-semibold mb-2">Wybierz typ gry</label>
                <div class="game_type_picker">
                    <input type="button" id="eight_pool" value="8-pool" class="game_type_button game-type-button-not-clicked" 
                        onclick="selectGameType('eight_pool')">
                    <input type="button" id="nine_pool" value="9-pool" class="game_type_button game-type-button-not-clicked"
                        onclick="selectGameType('nine_pool')">
                </div>
                <input type="hidden" id="game_type" name="game_type" required>
            </div>
            <button type="submit" class="btn w-full py-4">Dodaj</button>
         </form>
        <a href="/home" class="btn w-1/2 mt-6">Powrót</a>
    </div>

    <script>
        function selectWinner(player) {
            const player1Btn = document.getElementById('player1');
            const player2Btn = document.getElementById('player2');
            const winnerInput = document.getElementById('winner');

            if (player === 'player1') {
                player1Btn.classList.add('game-type-button-clicked');
                player1Btn.classList.remove('game-type-button-not-clicked');
                player2Btn.classList.add('game-type-button-not-clicked');
                player2Btn.classList.remove('game-type-button-clicked');
                winnerInput.value = 'Ty';
            } else {
                player2Btn.classList.add('game-type-button-clicked');
                player2Btn.classList.remove('game-type-button-not-clicked');
                player1Btn.classList.add('game-type-button-not-clicked');
                player1Btn.classList.remove('game-type-button-clicked');
                winnerInput.value = 'Przeciwnik';
            }
        }

        function selectGameType(game_type){
            const eightPoolBtn = document.getElementById('eight_pool');
            const ninePoolBtn = document.getElementById('nine_pool');
            const gameTypeInput = document.getElementById('game_type');

            if (game_type === 'eight_pool'){
                eightPoolBtn.classList.add('game-type-button-clicked');
                eightPoolBtn.classList.remove('game-type-button-not-clicked');
                ninePoolBtn.classList.add('game-type-button-not-clicked');
                ninePoolBtn.classList.remove('game-type-button-clicked');
                gameTypeInput.value = 'eight_pool';
            } else {
                ninePoolBtn.classList.add('game-type-button-clicked');
                ninePoolBtn.classList.remove('game-type-button-not-clicked');
                eightPoolBtn.classList.add('game-type-button-not-clicked');
                eightPoolBtn.classList.remove('game-type-button-clicked');
                gameTypeInput.value = 'nine_pool';
            }
        }

        function submitForm(form) {
                event.preventDefault();
                Swal.fire({
                    icon: 'success',
                    title: 'Sukces',
                    text: 'Dodano grę!'
                })
                    .then(function () {
                        form.submit();
                    });

            }
    </script>
</body>
</html>
